/********** Main styles **********/

section, header {
	min-width: 50em;
	overflow-y: hidden;
}

h1, h2 {
	text-align: center;
}

*, *::after, *::before {
	box-sizing: border-box;
}

.hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/********** Fonts **********/

@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('fonts/PTN57F-webfont.eot');
    src: url('fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTN57F-webfont.woff') format('woff'),
         url('fonts/PTN57F-webfont.ttf') format('truetype'),
         url('fonts/PTN57F-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_sansbold';
    src: url('fonts/DroidSans-Bold-webfont.eot');
    src: url('fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-Bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

/********** Header **********/

header {
	background: url(img/header.jpg) no-repeat center center;
	background-size: cover;
	color: white;
	font-family: 'droid_sansbold';
}

header > a {
	border: 0.03125em solid white;
	border-radius: 0.1em;
	color: white;
	display: block;
	margin: 1.5em auto;
	padding: 0.15625 0;
	text-align: center;
	text-decoration: none;
	width: 6em;
	font-size: 2em;
}

header > h2 {
	border-bottom: 0.03125em solid white;
	border-top: 0.03125em solid white;
	margin: 0.8em auto;
	width: 10em;
	padding: 0.275em;
	font-weight: normal;
	font-family: Century Gothic, sans-serif;
}

header > div {
	text-align: center;
	font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

header > h1 {
	margin: .25em 0;
	padding-top: 5em;
	background: url("img/logo.png") no-repeat scroll center 1.75em / 2.5em auto transparent;
	font-size: 2.5em;
}

/* Blah */
header > ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

header li {
	display: inline-block;
	margin: 0.625em 0.625em 0;
}

header li > a {
	color: white;
	text-decoration: none;
}

header ul {
	font-family: 'pt_sans_narrowregular';
}

/********** White sections **********/

section.white {
	background: white;
	box-sizing: border-box;
	padding: 3.125em 0;
}

section.white h2 {
	background: url(img/whiteh2_back.png);
	background-size: 100%;
	float: left;
	height: 0;
	line-height: 0;
	padding-top: 5.86em;
	padding-bottom: 5.86em;
	margin: 0;
	margin-right: 1.95em;
	width:  11.72em;
	font-family: Century Gothic, sans-serif;
	font-weight: normal;
	font-size: 1.6em;
	color: #d88caa;
}

section.white div {
	text-align: left;
}

.cwrap {
	position: relative;
}

.cinner {
	top: 50%;
	position: absolute;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

/********** About section **********/

#sec_about .cwrap {
	height: 18.75em;
}

#sec_about .cinner {
	margin-left: 21.875em;
	color: #417bac;
	width: 28.125em;
}

/********** Shape sections **********/

section.shape {
	padding: 3.125em 0;
}

ul.hex, ul.pent {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.hex > li, ul.pent > li {
	float: left;
}

/********** Shape sections > hex **********/

ul.hex > li {
	width: 33.3333%;
	display: table;
	font-size: 1.5em;
}

ul.hex > li > div {
	width: 4.166667em;
	height: 4.8125em;
	margin: 0 auto;
	background: url(img/hex.png) no-repeat;
	background-size: 100%;
	box-sizing: border-box;
	color: white;
	font-size: 2em;
}

ul.hex .cinner, ul.pent .cinner  {
	width: 100%;
	text-align: center;
}

#sec_numbers {
	background: url(img/bgimg1.jpg) no-repeat center center;
	background-size: cover;
}

span.small {
	font-size: 0.7em;
}

span.smaller {
	font-size: 0.5em;
}

.large {
	font-size: 1.5em;
}

/********** Shape sections > pent **********/

div.face {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100% !important;
}

.face, .face * {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

li:nth-child(2n-1) .face:first-child {
	background: url(img/pent.png) no-repeat;
}

li:nth-child(2n-1) .face:last-child {
	background: url(img/pent.png) no-repeat;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

li:nth-child(2n) .face:first-child {
	background: url(img/pent_flip.png) no-repeat;
}

li:nth-child(2n) .face:last-child {
	background: url(img/pent_flip.png) no-repeat;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.pent > li:not(:first-child):hover > div {
	-webkit-transform: rotateY(180deg) !important;
	-moz-transform: rotateY(180deg) !important;
	-ms-transform: rotateY(180deg) !important;
	-o-transform: rotateY(180deg) !important;
	transform: rotateY(180deg) !important;
}

.pent > li:nth-child(2n-1) .face:first-child > .cinner { margin-top: 0.2em; }
.pent > li:nth-child(2n-1) .face:last-child > .cinner { margin-top: 0.8em; }
.pent > li:nth-child(2n)   .cinner { margin-top: -0.5em; }

.face:last-child > .cinner {
	font-size: 0.5em;
	padding: 0 1.875em;
}

/***/

ul.pent {
	margin: 0 auto;
	width: 42.5em;
	height: 17.5625em;
}

ul.pent > li {
	width: 12.5em;
	height: 12em;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin-left: -1.875em;
}

ul.pent > li:nth-child(2n) {
	margin-top: 4.6875em;
}

ul.pent > li > div {
	-webkit-transition: transform 0.4s;
	-moz-transition: transform 0.4s;
	-ms-transition: transform 0.4s;
	-o-transition: transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

ul.pent div.face {
	width: 6.25em;
	height: 6em;
	margin: 0 auto;
	background-size: 100%;
	box-sizing: border-box;
	color: white;
	font-size: 2em;
}

#sec_faq {
	background: url(img/bgimg3.jpg) no-repeat center center;
	background-size: cover;
}

ul.pent .cwrap {
	height: 100%;
}

#icon_student, #icon_award, #icon_people {
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
	margin-bottom: -0.625em;
}

#icon_student {
	background: url(img/icon_student.svg) no-repeat 100%;
	margin-top: -0.875em;
}

#icon_award {
	background: url(img/icon_award.svg) no-repeat 100%;
	margin-top: -0.3125em;
}

#icon_people {
	background: url(img/icon_people.svg) no-repeat 100%;
	margin-top: -0.875em;
}

/********** Judges and Speakers **********/

#judges, #speakers {
	color: #407cac;
	position: relative;
	float: left;
	width: 100%;
}

#judges > ul > li {
	width: 33%;
	float: left;
}

#judges > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#judges img {
	width: 7.25em;
	height: 7.25em;
	margin: 0 auto;
	display: block;
}

#judges > h2 {
	height: 6.66666em;
	margin: 0;
	position: relative;
	width: 100%;
	margin-right: -100%;
	margin-top: 10.66667em;
	float: left;
	background: url("img/judge-bg.svg") no-repeat center center;
	background-size: 6.66666em;
}

#judges > h2 > span {
	line-height: 2.08333em;
	margin-top: 2.29167em;
	width: 11.25em;
}

#judges > h2 > span:first-child {
	float: left;
	text-align: right;
}

#judges > h2 > span:last-child {
	float: right;
	text-align: left;
}

#judges > h2 > span::after {
	margin-top: 2.29167em;
	display: block;
	content: '';
	width: 100em;
	height: 2.08333em;
	position: absolute;
	top: 0;
	border-bottom: 0.06em solid #407cac;
}

#judges > h2 > span:first-child::after {
	left: -88.75em;
}

#judges h3 {
	font-weight: normal;
	text-align: center;
	font-size: 1.4em;
}

#judges h4 {
	font-weight: normal;
	text-align: center;
	font-size: 1em;
	margin-bottom: 0;
}

#sec_panel {
	margin: 3.125em 0;
	overflow: hidden;
}

/********** 2B, or not to be? **********/

#hamlet {
	background: url(img/bgimg2.jpg) no-repeat center center;
	background-size: cover;
}

#hamlet span {
	color: white;
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
	margin-left: 7%;
	margin-top: 2.08em;
	margin-bottom: 2.08em;
	display: block;
}

/********** Schedule section **********/

#schedule {
	float: right;
	width: 20em;
	color: #407dac;
	margin: 0;
}

#sec_schedule h2 {
	filter: hue-rotate(90deg);
	-webkit-filter: hue-rotate(90deg);
	margin-top: 1.5625em; /* Another ghastly hack, but I just want to go home now */
}

#schedule span {
	margin-left: -4em;
	position: absolute;
}

#schedule li:nth-child(2n) {
	border: 0.13em solid #407dac;
	padding: 0.3em;
	list-style-type: none;
}

/********** Sponsors section **********/

#sponsors {
	margin: 0;
	margin-left: 19.875em;
}

#sponsors > li {
	display: block;
	float: left;
	margin-top: 2em;
}
#sponsors > li:nth-child(2n-1) {
	margin-right: 2.625em;
}

#sponsors img {
	width: 12.5em;
	height: 6.25em;
}

/* An ugly hack... but it's the eleventh hour */
#sec_sponsors h2 {
	margin-top: 1.95312em;
}

/********** Organized by HackNTU **********/

#organized {
	background: url(img/bgimg4.jpg) no-repeat center center;
	background-size: cover;
}

#organized span {
	color: white;
	font-weight: bold;
	width: 100%;
	display: block;
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

#organized span:first-child {
	font-size: 2em;
}

#organized span:last-child {
	-webkit-transform: scaleY(1.5);
	-moz-transform: scaleY(1.5);
	-ms-transform: scaleY(1.5);
	-o-transform: scaleY(1.5);
	transform: scaleY(1.5);
	font-size: 4em;
}

#organized > .container > div {
	margin: 6.25em 12.5em;
}

/********** Map section **********/

#sec_map > iframe {
	border: 0;
}

/********** Contact section **********/

#contact {
	background: url(img/bgimg5.jpg) no-repeat center center;
	background-size: cover;
	color: white;
}

#contact > h2 {
	text-align: center;
	width: 22.9167em;
	margin: 1em auto 2em;
	padding-bottom: 0.416667;
	border-bottom: 0.05em solid white;
}

#contact > ul {
	width: 30.5em;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

#contact li {
	width: 31.25em;
	padding-left: 3.125em;
	display: block;
	margin-bottom: 3.125em;
	background-size: 2.5em;
}

#contact h3, #contact a {
	margin: 0;
	color: white;
	font-size: 0.8em;
}

#contact li:nth-child(1) {
	background: url(img/icon_fb.svg) no-repeat 0 0;
}

/********** Container **********/

.container {
	width: 50em;
	margin: 0 auto;
}
