.api {
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
    height: 100vh;
    background-color: white;
    color: black;
}

.api h2 {
    color: black;
    margin: 0 auto 0 auto;
    padding-top: 5mm;
    text-align: center;
    border-bottom: 0.05em solid black;
}

.api a {
    float: center;
    margin: 0 auto 0 auto ;
    font-size: 1em;
}

