
section {
  font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
  height: 100vh;
}

#sec_contact {
    background: url(../img/bgimg5.jpg) no-repeat center center;
    background-size: cover;
    color: white;
}

#sec_contact  h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 5mm;
    border-bottom: 0.05em solid white;
}

#sec_contact  ul {
    display: table;
    padding-top: 30mm;
    margin: 0 auto;
}

#sec_contact li {
    padding-left:23mm;
    display: table;
    text-align: left;
    margin: 0 auto;
}

#sec_contact li:nth-child(1) {
    background: url(../img/icon_fb.svg) no-repeat 0 0;
    font-size: 1.1em;
}

#sec_contact h3, #sec_contact a {
    margin: 0;
    color: white;
}



