
.contact{
  font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
  background: url(../img/bgimg5.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: white;
}

.contact  h2 {
    color: white;
    margin: 0 auto 0 auto;
    padding-top: 5mm;
    text-align: center;
    border-bottom: 0.05em solid white;
}

.contact  ul {
    padding-top: 8em;
    margin: 0 auto 0 auto;
}

.contact li {
    display: table;
    float: center;
    margin: 0 auto 0 auto ;
}

.contact a {
    margin: 0 auto 0 auto;
    color: white;
    text-align: left;
}



