
.judges {
	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
	height: 100vh;
	color: #407cac;
    margin: 0 auto 0 auto;
    display: table;
}

.judges  h2 {
	color: black;
    margin: 0 auto 0 auto;
    padding-top: 4.5mm;
    text-align: center;
    border-bottom: 0.05em solid black;
}

.img-center {
	margin: 0 auto;
	padding-top: 4mm;
}

.judges  h1 {
    text-align: center;
    font-size: 10mm;
}

.judges  small {
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
    text-align: center;
    color: black;
    font-size: 5mm;
}

