
.news {
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
    background: url(../img/bgimg5.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    display: table;
}

.intro-text {
    font-size: 2.5em;
}

.news h2 {
    color: white;
    margin: 0 auto 0 auto;
    padding-top: 3mm;
    text-align: center;
    border-bottom: 0.05em solid white;
}

.news li{
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
    font-size: 1.5em;

}



