
.sponsors {
	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
  	height: 100vh;
    margin: 0 auto 0 auto;
    display: table;
}

.sponsors  h2 {
	color: black;
    width: 100%;
    margin: 0 auto 0 auto;
    padding-top: 4.5mm;
    text-align: center;
    border-bottom: 0.05em solid black;
}

.img-center {
    margin: 0 auto;
    padding-top: 4mm;
}




