/* Workshops*/

div.workshop_white1 {
	background-color:white;
    background-size:100%;
}

div h2.workshop_white1{
    background-image: url(../img/whiteh2_back.png);
    background-size: 100%;
    float: left;
    line-height: 0;
    padding-top: 5.86em;
    padding-bottom: 5.56em;
    margin: 0 auto ;
    margin-right: 2em;
    width:  11.4em;
    text-align: center;
    font-size: 2em;
    color: #d88caa;
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

div.workshop_white2 {
	background-color: #d9d9d9;
    background-size:100%;
}

div h2.workshop_white2 {
    background-image: url(../img/whiteh2_back.png);
    background-size: 100%;
    float: right;
    line-height: 0;
    padding-top: 5.86em;
    padding-bottom: 5.56em;
    margin: 0 auto ;
    width: 11.4em;
    font-size: 2em;
    text-align: center;
    color: #d88caa;
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}

div h3{
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
    display: inline-block;
    text-align: left;
}

div p{
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
    text-align: left;
}

div ul {
    font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
    text-align: left;
}

